<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Blog</title>
</head>
<body>
    <h1>Hello {{ first_name }} {{last_name}} world from the templates</h1>

    {% if first_name == 'Brian' %}
    <h3>I am from Chicago</h3>
    {% else %}
    <h2>Something interesting

    </h2>
    {% endif %}
    <h3>{{5+7}}</h3>
    <p>Here are some of my favorite colors</p>
    
        {% for color in colors %}
        <li>{{ color.upper() }}</li>
{% endfor %}
    </ol>
</body>
</html>